NODE_ENV=development
PORT=8000
MONGO_URI=mongodb://127.0.0.1:27017/sharebit
JWT_SECRET=sharebit-secret
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=sharebit-refresh-secret
JWT_REFRESH_EXPIRES_IN=30d
ACCESS_TOKEN_COOKIE_MAX_AGE_DAYS=7
REFRESH_TOKEN_COOKIE_MAX_AGE_DAYS=30
OTP_EXPIRES_MINUTES=10
SUPER_ADMIN_EMAIL=admin@sharebit.com
SUPER_ADMIN_PASSWORD=Admin@12345
COMPANY_SYSTEM_EMAIL=company@sharebit.com
COMPANY_SYSTEM_PASSWORD=Company@12345
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
